#sample .gitignore file
.gitignore
.cproject
.project
/bin
/downloads
/debug
/figs
/.git
/ipch
/My Virtual Machines
/papers
/release
/results
/Settings
/writing
/writing/scripts
octave-core
rc.local
rc.local.7500
sandbox*.*
untitled*.*
README
Makefile*
*.asv
*.aux
*blx.bib
*.bas
*.bcf
*.bib.bak
*.bin
*.bbl
*.blg
*.bmp
*.cache
*.check_cache
*.cmake
*.conf
*.conf~
*.csv~
*.dat
*.db
*.dcbk
*.depend
*.dll
*.doc
*.doc#
*.docx
*.ecbk
*.exe
*.ffs_gui
*.filters
*.fuse*
*.gitignore~
*.gui
*.htm
*.html
*.idb
*.ilk
*.includecache
*.ini
*.inl
*.internal
*.ipch
*.jpg
*.lastbuildstate
*.lib
*.linux
*.lnk
*.lof
*.log
*.lot
*.m~
*.make
*.manifest
*.map
*.marks
*.mat
*.mdl
*.model
*.mp4
*.nav
*.o
*.obj
*.opensdf
*.out
*.pdb
*.pdf
*.php
*.ply
*.png
*.ppt
*.ppt#
*.pptx
*.pro.user
*.pyx
*.raw
*.readme
*.res
*.rc
*.res
*.sdf
*.snm
*.stamp
*.suo
*.synctex.gz
*.synctex.gz(busy)
*.sys 
*.tif
*.tlog
*.toc
*.unsuccessfulbuild
*.vcxproj.user
*.vrb
*.vssettings
*.wav
*.xls
*.xlsx
*.xml
*.yml
*.zip
